body {
    background-image: url(/images/5333978.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #21802a;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0.6;
}

header:hover {
    background-color: #1c6c20;
}

header h1.title {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
    min-height: calc(100vh - 60px);
    padding-top: 60px;
}



form {
    background-color: #dff0df74;
    max-width: 290px;
    margin-left: 20px;
    padding: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

form label {
    display: block;
    margin-top: 20px;
    font-weight: bolder;
    color: #494d4d;
}

form input[type="text"],
form input[type="date"],
form input[type="number"] {
    width: 80%;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: 0.5px solid rgb(206, 200, 200);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

form input[type="text"]:hover {
    border: 0.5px solid rgb(139, 137, 137);

}

form input[type="date"]:hover {
    border: 0.5px solid rgb(139, 137, 137);

}

form input[type="number"]:hover {
    border: 0.5px solid rgb(139, 137, 137);

}



input[type="button"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2ebc3c;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 87px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

input[type="button"]:hover {
    background-color: #6ed019;
}

.table {
    margin: 75px 15px 0px 15px;
}

#studentTable {
    opacity: 0.6;
    margin: auto;
    border-collapse: collapse;
    border-color: #797b7dcd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#studentTable th,
#studentTable td {
    padding: 10px;
    text-align: justify;
}

#studentTable th {
    text-align: justify;
    background-color: #21802a;
    color: black;
    
}

#studentTable tr {
    background-color: #dff0df74;
}

#studentTable tr:hover {
    background-color: #afd2ba97;

}

#studentTable button {
    display: flex;
    justify-content: center;

}

button {
    padding: 5px 13px;
    margin-bottom: 5px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background-color: #1c6c20;
    min-width: 50px;
    min-height: 35px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #6ed019;
}

button span.tooltip {
    visibility: hidden;
    position: absolute;
    color: black;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.5;
    min-width: 50px;
    min-height: 35px;
    padding-top: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
button span.tooltip:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 16%;
    opacity: 0.7;
    width: 10px;
    height: 10px;
    background-color: white;
    -webkit-transform: translateX(-8%) rotate(45deg);
    -moz-transform: translateX(-8%) rotate(45deg);
    -ms-transform: translateX(-8%) rotate(45deg);
    -o-transform: translateX(-8%) rotate(45deg);
    transform: translateX(-8%) rotate(45deg);
}
button:hover .tooltip {
    visibility: visible;
}

Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #21802a;
    color: #fff;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0.6;
}

Footer:hover {
    background-color: #1c6c20;
}

/*Média queries*/
@media screen and (max-width: 900px) {
    header h1.title {
        font-size: 20px;
        width: 100%;

    }

    main {
        flex-direction: column;
        align-items: center;
    }

    .formulaire {
        margin-top: 30px;
    }


    footer {
        position: relative;
        margin-top: 10px;
        padding: 5px;
    }
}